html, body {
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
}

header {
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(12px); /* frosted glass */
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15); /* semi-transparent glass */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 65px;
}

.logo span {
    font-size: 1rem;
    font-weight: 600;
    color: #df7694;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    text-decoration: none;
    color: #df7694;
    font-weight: 550;
    transition: all 0.3s ease;
}

#CTO {
    padding: 12px;
    border-radius: 10px;
    background-color: #df7694;
    color: #ffffff;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#CTO:hover {
    background: #ffffff;
    color: #df7694;
    transform: scale(1.1);
}

.icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
    z-index: 1100;
    color: #df7694;
}

.icon i {
    font-size: 22px;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.icon i:hover {
    color: #df7694;
}

.aboutus {
    background: url(../ASSETS/ABOUTIMG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: 85px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.aboutus h1 {
    font-size: 1.6rem;
    color: #412151;
    line-height: 3;
}

.aboutus p {
    font-size: 2.5rem;
    color: #412151;
}

.aboutus hr {
    width: 30%;
}

.about-contact {
    display: flex;
    gap: 40px;
}

.about-contact a {
    text-decoration: none;
    padding: 13px;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.05rem;
    background: #df7694;
    transition: color 0.5s ease-in-out;
}

.about-contact a:hover {
    color:#df7694;
    background: #ffffff;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    margin-top: 20px;
}

.mission-statement h1 {
    width: 900px;
    font-weight: normal;
    color: #412151;
    font-size: 2.3rem;
    margin-bottom: 25px;
}

.mission-statement p {
    width: 900px;
    font-size: 1.2rem;
    line-height: 2;
    color: #555555;
}

.ourservices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ourservices h1 {
    color:#412151;
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: underline;
}

.servicecards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.servicecard {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 600px;
    gap: 20px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.servicecard img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.service-text {
    display: flex;
    flex-direction: column;
}

.servicecard h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #412151;
}

.servicecard p {
    color: #555555;
}

@media (max-width: 780px) {
    .logo span {
        font-size: 0.9rem;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #df7694;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 0.8rem;
        text-decoration: none
    }

    .aboutus h1 {
        font-size: 1.7rem;
        color: #412151;
        line-height: 3;
    }

    .aboutus p {
        font-size: 2.5rem;
        color: #412151;
    }

    .aboutus hr {
        width: 30%;
    }

    .about-contact a {
       font-size: 0.8rem;
    }

    .mission-statement h1 {
        font-size: 2rem;
        width: 100%;
    }

    .mission-statement p {
        width: 100%;
    }

    .ourservices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .ourservices h1 {
        color:#412151;
        font-size: 2.5rem;
        font-weight: 300;
        text-decoration: underline;
    }

    .servicecards {
       width: 100%;
    }

 
    .servicecard img {
        width: 200px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .servicecard h2 {
        font-size: 1.1rem;
        line-height: 1.2;
        color: #412151;
    }

    .servicecard p {
        font-size: 0.9rem;
        color: #555555;
    }
}

@media (max-width: 480px) {
    .logo span {
        font-size: 0.9rem;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #df7694;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 0.8rem;
        text-decoration: none
    }

    .aboutus {
        background: url(../ASSETS/ABOUTIMG.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        margin-top: 85px;
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .aboutus h1 {
        font-size: 1.2rem;
        color: #412151;
        line-height: 3;
    }

    .aboutus p {
        font-size: 2rem;
        color: #ffffff;
        background: #00000065;
    }

    .aboutus hr {
        width: 30%;
    }

    .about-contact a {
        font-size: 0.7rem;
    }

    .mission-statement h1 {
        font-size: 1.5rem;
        width: 100%;
    }

    .mission-statement p {
        font-size: 1rem;
        width: 100%;
    }

    .ourservices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .ourservices h1 {
        color:#412151;
        font-size: 1.7rem;
        font-weight: 300;
        text-decoration: underline;
    }

    .servicecard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        gap: 20px;
        padding: 10px;
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

 
    .servicecard img {
        width: 270px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .servicecard h2 {
        font-size: 1rem;
        line-height: 1.2;
        color: #412151;
        text-align: center;
    }

    .servicecard p {
        font-size: 0.8rem;
        color: #555555;
        text-align: center;
    }
}

