html, body {
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
}

header {
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(12px); /* frosted glass */
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15); /* semi-transparent glass */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 100px;
}

.logo span {
    font-size: 1.15rem;
    font-weight: 600;
    color: #df7694;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    text-decoration: none;
    color: #df7694;
    font-weight: 550;
    transition: all 0.3s ease;
}

#CTO {
    padding: 12px;
    border-radius: 10px;
    background-color: #df7694;
    color: #ffffff;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#CTO:hover {
    background: #ffffff;
    color: #df7694;
    transform: scale(1.1);
}

.icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
    z-index: 1100;
    color: #df7694;
}

.icon i {
    font-size: 22px;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.icon i:hover {
    color: #df7694;
}



.fade-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.8s ease-out;
}

.fade-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .logo span {
        font-size: 1rem;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #df7694;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 0.8rem;
        text-decoration: none
    }
}




@media (max-width: 480px) {
    .logo {
        width: 60%;
    }

    .logo span {
        font-size: 0.9rem;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #df7694;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 0.8rem;
        text-decoration: none
    }
}