html, body {
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
}

header {
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(12px); /* frosted glass */
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15); /* semi-transparent glass */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 98px;
}

.logo span {
    font-size: 1.7rem;
    font-weight: 600;
    color: #35807e;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    font-size: 1.15rem;
    text-decoration: none;
    color: #35807e;
    font-weight: 550;
    transition: all 0.3s ease;
}

#CTO {
    padding: 12px;
    border-radius: 10px;
    background-color: #35807e;
    color: #ffffff;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#CTO:hover {
    background: #ffffff;
    color: #35807e;
    transform: scale(1.1);
}

.icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
    z-index: 1100;
    color: #35807e;
}

.icon i {
    font-size: 22px;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.map-container {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.map-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background: transparent;
    border-radius: 12px;
}

.info-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 400px;
    height: auto;
    gap: 15px;
    padding: 15px;
}

.info-cards h2 {
    font-size: 2.5rem;
    color: #35807e;
    margin: 0;
}

.info-cards p {
    font-size: 1.3rem;
    color: #555555;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.card i {
    font-size: 22px;
    color: #35807e;
}

.card a {
    font-size: 1.3rem;
    color: #35807e;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    gap: 15px;
}

.contact-form h3 {
    font-size: 2rem;
    color: #35807e;
    text-align: center;
    margin: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.15rem;
    font-family: "Space Grotesk", sans-serif;
}

.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.15rem;
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
}

.contact-form p {
    color:#555555;
}

label {
    font-size: 1.2rem;
    font-weight: 550;
    text-align: left;
    color: #35807e;
}

.contact-form a {
    text-decoration: underline;
    color:#35807e;
    font-weight: bold;
    font-size: 1.15rem;
}

.contact-form button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #35807e;
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



@media (max-width: 780px) {
    .logo span {
        font-size: 1.5rem;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #35807e;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #35807e;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #35807e;
        padding: 8px 0;
        font-size: 1.15rem;
        text-decoration: none
    }

    .info-cards h2 {
        text-align: center;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .contact-form {
        box-sizing: border-box;
        border: 4px solid #b8b8b8;
        border-radius: 25px;
        padding: 25px;
    }

}

@media (max-width: 480px) {
    .logo {
        width: 95%;
    }
    
    .logo span {
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color: #35807e;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #35807e;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 1.15rem;
        text-decoration: none
    }

    .info-cards {
        width: 100%;
    }

    .info-cards p {
        text-align:  left;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 10px;
    }

    .contact-form {
        box-sizing: border-box;
        border: 4px solid #b8b8b8;
        border-radius: 25px;
        padding: 25px;
        width: 100%;
    }

}