body, html {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background: oklab(98.452% 0.00716 0.00211);
}

.main-header {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555555;
}

.main-header img {
    width: 100px;
    height: auto;
}

.span {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.body {
    padding: 30px;
    color:#555555;
}