* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: auto;
    background: #35807e;
    padding: 20px;
    gap: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-content img {
    width: 150px;
    height: auto;
    margin: 0;
}

.footerabout {
    text-align: center;
    color: #ffffff;
}

.footerabout h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.footerabout p {
    font-size: 1rem;
    line-height: 1.5;
}

.separator {
    color: #ffffff;
    margin: 0 10px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials p {
    font-size: 1.5rem;
    color:#ffffff;
    text-align: center;
    font-family: "Space Grotesk", serif;
    font-weight: bold;
}

.socials i {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.socials i:hover {
    color:#3eebe5;
    transform: scale(1.2) rotate(10deg);
}

.footernav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footernav a {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    line-height: 1.7rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.footernav a:hover {
    color: #3eebe5;
    transform: scale(1.2);
}

hr {
    border: none;
    border-top: 1px solid #ffffff;
    margin: auto;
    width: 90%;
    margin-top: 10px;
}

.contact a:hover {
    color: rgb(250, 250, 4);
    transform: scale(1.05);
}

.copyright {
    text-align: center;
}

.copyright p {
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    font-family: "Space Grotesk", serif;
    
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .footerabout h2 {
        font-size: 2rem;
    }

    .footerabout p {
        font-size: 1rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footernav a {
        font-size: 1rem;
    }

    .socials p {
        font-size: 1rem;
        font-weight: 700;
    }

    i {
        font-size: 20px;
    }

    .footernav a {
        font-size: 1rem;
    }

    .contact a {
        font-size: 1rem;
    }


    .copyright p {
        font-size: 1rem;
    }

}

@media (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        gap: 10px;
    }

    .footerabout h2 {
        font-size: 1.5rem;
    }

    .footerabout p {
        font-size: 0.8rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .footer-content img {
        width: 100px;
        height: auto;
    }

    .footernav a {
        font-size: 0.7rem;
    }

    .socials p {
        font-size: 0.9rem;
        font-weight: 700;
    }

    i {
        font-size: 18px;
    }

    .footernav a {
        font-size: 0.9rem;
    }

    .copyright p {
        font-size: 0.8rem;
    }
}
