html, body {
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
}

header {
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(12px); /* frosted glass */
    background: #ffffff;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 95px;
}

.logo span {
    font-size: 1.7rem;
    font-weight: 800;
    color: #35807d;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    font-size: 1.15rem;
    text-decoration: none;
    color: #35807d;
    font-weight: 550;
    transition: all 0.3s ease;
}

#CTO {
    padding: 12px;
    border-radius: 10px;
    background-color: #35807d;
    color: #ffffff;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

#CTO:hover {
    background: #ffffff;
    color: #35807d;
    transform: scale(1.1);
}

.icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
    z-index: 1100;
    color: #35807d;
}

.icon i {
    font-size: 22px;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    z-index: -1;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-top: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.highlight {
    font-family: 'Molle', cursive;
    color: #35807d;
}

.hero p {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 0px;
}

.hero a {
    margin-top: 20px;
    padding: 16px 32px;
    background-color: #35807d;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    border: none;
    gap: 10px;
    padding: 10px;
    background:#35807d;
}

.note1 h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.note2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.note2 p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5;
}

.note2 a {
    padding: 13px;
    background-color: #ffffff;
    color: #35807d;
    text-decoration: none;
    font-weight: 550;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.note2 a:hover {
    background:#35807d;
    color: #ffffff;
    transform: scale(1.1);
}

.article {
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: auto;
    background: #35807e7a;
    gap: 100px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 450px;
    height: auto;
    border-radius: 25px;
}

.article-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: auto;
    gap: 20px;
}

.article-note h2 {
    font-size: 2.5rem;
    color: #35807d;
}

.article-note p {
    font-size: 1.5rem;
    text-align: center;
    color:#ffffff;
}

.cta-button {
    padding: 13px;
    background-color: #35807d;
    color: #ffffff;
    text-decoration: none;
    font-weight: 550;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 10px;
}

.why-us h2 {
    font-size: 2.8rem;
    font-weight: 550;
    color:#35807d;
    margin-bottom: 25px;
    text-align: center;
}

.reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 20px;
}

.reason:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.reason img {
    height: 120px;
}

.reason h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #35807d;
    text-align: center;
    margin-bottom: 10px;
}

.reason p {
    font-size: 1.3rem;
    color: #666666;
    text-align: center;
    margin: 0;
}

.appointment {
    position: relative;
    width: 100%;
    height: auto;
    background: url(../ASSETS/appointment.svg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.9;
}

.appointmentform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 600px;
    padding: 100px;
}

.appointmentform h2 {
    font-size: 2.5rem;
    color: #35807d;
    font-weight: 700;
    margin: 0;
}

.appointmentform p {
    font-size: 1.4rem;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.appointmentform form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    background: #35807d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.appointmentform button {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #35807d;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.appointmentform button:hover {
    background:#fbff00;
    color: #35807d;
}

label {
    font-size: 1rem;
    font-weight: 550;
    text-align: left;
    color: #ffffff;
}

.appointmentform form input   {
    padding: 10px 13px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    font-family: "montserrat", sans-serif;
}

.appointmentform form textarea {
    padding: 10px 13px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    font-family: "montserrat", sans-serif;
}

.career {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 5px solid #35807d;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 20px;
    width: 1400px;
}

.career-content img {
    width: 600px;
    border-radius: 15px;
}

.career-notes h1 {
    margin-bottom: 60px;
    color: #35807d;
    font-size: 3rem;
    font-weight: 400;
}

.career-notes p {
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #555555;
}

.career-notes a {
    padding: 12px;
    text-decoration: none;
    color: #555555;
    border: 3px solid #35807d;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.career-notes a:hover {
    background: #fbff00;
    transform: scale(1.2);
    transition: all 0.3s ease;
}


.did-you {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.did-you-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 700px;
    padding: 20px;
    background: #35807e7a;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.did-you img {
    width: 200px;
    height: auto;  
    border-radius: 25px  
}

.did-you-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.did-you-text h2 {
    margin-bottom: 10px;
    color:#ffffff;
}

.did-you-text p {
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 10px;
}


/* Scroll Animation */

.fade-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.8s ease-out;
}

.fade-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}



@media (max-width: 768px) {
    .logo span {
        font-size: 1.5rem;
        font-weight: 900;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color:#35807e;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        padding: 8px 0;
        font-size: 0.8rem;
        text-decoration: none
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        transition: background-image 1s ease-in-out;
        z-index: -1;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    
    .highlight {
        font-family: 'Molle', cursive;
        color:#41ab5d;
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 0.8rem;
        text-align: center;
    }

    .note1 h2 {
        font-size: 1rem;
    }

    .note2 p {
        font-size: 1.1rem;
    }

    .note2 a {
        font-size: 0.8rem;
    }

    .notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        border: none;
        gap: 10px;
        padding: 10px;
        background:#c7e9c0;
    }

    .note1 h2 {
        font-size: 2rem;
        font-weight: 600;
        color: #41ab5d;
        text-align: left;
    }

    .note2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .note2 p {
        font-size: 1.1rem;
        color:#41ab5d;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.5;
    }

    .appointment {
        position: relative;
        width: 100%;
        height: auto;
        background: url(../ASSETS/appointment.svg) no-repeat center/cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0.8;
    }

    .appointmentform {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0px;
        padding: 100px;
    }

    .appointmentform h2 {
        font-size: 2rem;
        color:#ffffff;
        font-weight: 700;
        margin: 0;
    }

    .appointmentform p {
        font-size: 0.9rem;
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
    }


    .career-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        border: 5px solid #333333;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 20px;
        width: 100%;
    }

    .career-content img {
        width: 100%;
        border-radius: 15px;
    }

    .career-notes h1 {
        margin-bottom: 30px;
        color:#35807e;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    .career-notes p {
        line-height: 1.5;
        margin-bottom: 40px;
        font-size: 1.2rem;
        color: #555555;
        text-align: justify;
    }

    .career-notes a {
        display: flex;
        justify-content: center;
        padding: 12px;
        text-decoration: none;
        color: #555555;
        border: 3px solid #35807e;
        border-radius: 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .article img {
        width: 100%;
    }

    .article-note  {
        width: 95%;
        padding: 10px;
    }

    .article-note h2 {
        font-size: 2rem;
        text-align: center;
    }

    .article-note p {
        font-size: 1rem;
        text-align: center;
    }

    .cta-button {
        font-size: 1rem;
    }

    .did-you-content {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 98%;
    }

    .logo span {
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    .icon {
        display: block; /* Show hamburger */
        color:#35807e;
        z-index: 1000;
    }

    .nav-links {
        position: fixed;
        top: 95px;
        left: -270px; /* start hidden off screen */
        height: 100vh;
        width: 260px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 0 8px 8px 0;
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: left 0.3s ease-in-out; /* smooth slide */
        z-index: 1;
    }

    .main-header, .nav-links {
        max-width: 100%;
    }

    .nav-links.show {
        left: 0; /* slide into view */
    }

    .nav-links {
        color: #ffffff;
        padding: 8px 0;
        font-size: 1rem;
        text-decoration: none
    }

    .hero {
        width: 100%;
        height: 40vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 85px;
        padding: 30px;
        background:url(../ASSETS/hero/1.jpg) ;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .highlight {
        font-family: 'Molle', cursive;
        color:#35807e;
        font-size: 2rem;
        text-align: center;
    }

    .hero p {
        font-size: 1.1rem;
        text-align: center;
    }

    .hero a {
        font-size: 1.1rem;
    }

    .note1 h2 {
        font-size: 1.2rem;
    }

    .note2 p {
        font-size: 1.1rem;
    }

    .note2 a {
        font-size: 1rem;
    }

    .notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        gap: 10px;
        padding: 25px;
        background:#35807e;
    }

    .note1 h2 {
        font-size: 1.3rem;
        text-align: center;
        color: #ffffff;
    }

    .note2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .note2 p {
        font-size: 1.1rem;
        color:#ffffff;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.5;
    }

    .appointment {
        position: relative;
        width: 100%;
        height: auto;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0.8;
    }

    .appointmentform {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background: #35807e;
        border-radius: 10px;
        gap: 10px;
        margin: 0px;
        padding: 20px;
    }

    .appointmentform h2 {
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
        margin: 0;
    }

    .appointmentform p {
        font-size: 1.2rem;
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
    }

    .appointmentform form {
        width: 100%;
    }

    .appointmentform form input   {
        width: 100%;
    }

    .appointmentform form textarea {
        width: 100%;
    }

    .career-notes p {
        line-height: 1.5;
        margin-bottom: 40px;
        font-size: 1.2rem;
        color: #555555;
        text-align: left;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .article {
        padding: 10px;
    }

    .article img {
        width: 100%;
    }

    .article-note  {
        width: 100%;
        padding: 20px;
    }

    .article-note h2 {
        font-size: 2rem;
        text-align: center;
    }

    .article-note p {
        font-size: 1.3rem;
        text-align: justify;
    }

    .cta-button {
        font-size: 1.1rem;
    }

    .did-you {
        padding: 30px;
    }

    .did-you {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    .did-you-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 700px;
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .did-you img {
        width: 300px;
        height: auto;  
        border-radius: 25px; 
    }

    .did-you-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .did-you-text h2 {
        font-size: 1.5rem;
        text-align: justify;
        line-height: 2;
    }

    .did-you-text p {
        font-size: 1.1rem;
        text-align: justify;
    }
}

  







