/* Popup Background */
.popup {
    display: none; 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup Box */
.popup-content form {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    height: 450px;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
    background: url(../ASSETS/gradient.jpg) no-repeat center center/cover;
    position: relative;
}

.popup h2 {
    color: #412151;
    font-size: 2rem;
    font-weight: 700;
}

.popup-content input, textarea {
    padding: 10px 13px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    width: 60%;
    font-family: "montserrat", sans-serif;
}

.popup-content button {
    padding: 10px;
    border-radius: 10px;
    background-color: #df7694;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.popup-content button:hover {
    background: #ffffff;
    color: #df7694;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
}

/* Small animation */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

.popup-content h2 {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 480px) {
    .popup {
        width: 80%;
        padding: 20px;
        margin-right: 20px;
    }
}
